@page "/authentication/login-failed"

<PageTitle>Error de autenticación</PageTitle>

<div class="d-flex justify-center align-center" style="height: 100vh;">
    <div class="text-center">
        <h1>Error de autenticación</h1>
        <p>Ha ocurrido un error durante el proceso de autenticación.</p>
        <a href="/" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>